<app-cabecera></app-cabecera>
<p-toast></p-toast>
<div style="margin-top: 40px;" class="card">
    <p-table
        [value]="usersList"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' ,'max-width':'80rem','margin':'auto'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} trabajadores"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
           Plantilla
  
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr class="header-glass">
              
                <th style="width:40%">Nombre</th>
                <th style="width:30%">Apellidos</th>
                <th style="width:20%">Email</th>
                <th>Horas contratadas</th>
                <th style="width:10%">Salario</th>
                <th style="width:10%">Acceso</th>

                <th><app-list-areas-positions ></app-list-areas-positions>
                </th>
                <th><app-formalities (sendMessage)="showMessage($event)"></app-formalities></th>
            
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr class="">
                <td>{{ user.firstName}}</td>
                <td>{{ user.lastName}}</td>
                <td>{{ user.email}}</td>
                @if(user.hiredHours!=null){

                    <td>{{ user.hiredHours}}</td>
                }@else {
                    <td>[No especificado]</td>
                }
                @if(user.salary!=null){
                    <td>{{ user.salary}}</td>
                    
                }@else {
                    <td>[No especificado]</td>
                }
                <td colspan="2">{{ translateAccess(user.access)}}</td>
                <td >Editar</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
</div>
