
<div style="margin-top: 40px;" class="card">
    <p-table
        [value]="eventList"
       
  
        
        [tableStyle]="{ 'min-width': '40rem' ,'max-width':'40rem','margin':'auto'}"
 
    >
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
           Turno de hoy
  
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>

                </th>
                <th>
                    Hora
                </th>
                <th>
                   Empleado 
                </th>
                <th>
                    Area
                </th>
                <th>
                    Posición
                </th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-event>
            @if(this.eventList.length>0){

                <tr class="">
                    
                    @if(event.type==0){
                        
                        <td><p-button [disabled]="true" severity="success" label="Entrada"></p-button></td>
                    }@else {
                        <td><p-button [disabled]="true" severity="danger" label="Salida"></p-button></td>

                    }
                    <td>{{event.time}}</td>
                    <td>{{event.user}}</td>
                    <td>{{event.area}}</td>
                <td>{{event.position}}</td>
                
                
            </tr>
        }@else {}
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex align-items-center justify-content-between">
      
                <!-- NO BORRAR -->
                         s 

            </div>
        </ng-template>
      
    </p-table>
</div>