
<p-toast></p-toast>

<div style=""  class=" card flex justify-content-center">

  
  <p-dialog  header="Editar franja horaria" [(visible)]="visible"  [modal]="true" 
    [draggable]="false" (onHide)="cerrar();" [resizable]="false">


    <div style="margin-top: 10px;" class="card flex justify-content-center" class="custom-dialog">
        <div style="margin-top: 20px;">

            <label for="username1">Hora inicio</label>
            <div style="display: flex;gap: 10px;margin-top: 20px">
                
                <p-dropdown [styleClass]="estiloValidacionHoras"  [options]="horas" [(ngModel)]="horaInicio.hora" optionLabel="valor" [showClear]="true" placeholder="Hora"></p-dropdown>
                
                <p-dropdown  [styleClass]="estiloValidacionMinutos" [options]="minutos" [(ngModel)]="horaInicio.minuto" optionLabel="valor" [showClear]="true" placeholder="Minuto "></p-dropdown>
            </div>
      
    </div>
    <div style="margin-top: 20px;">

        <label for="username1">Hora finalización</label>
        <div style="display: flex;gap: 10px;margin-top: 20px">
            
            <p-dropdown styleClass="{{estiloValidacionHoras}}"  [options]="horas" [(ngModel)]="horaFin.hora" optionLabel="valor" [showClear]="true" placeholder="Hora"></p-dropdown>
            
            <p-dropdown styleClass="{{estiloValidacionMinutos}}"  [options]="minutos" [(ngModel)]="horaFin.minuto" optionLabel="valor" [showClear]="true" placeholder="Minuto "></p-dropdown>
        </div>
    </div>
    <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2" style="margin-top: 20px;">
            <label  for="">Selecciona los dias de de la semana</label>

            @for (day of days; track day.number) {

                <div style="margin-top: 20px;" class="field-checkbox">
                    <p-checkbox   [binary]="true" class="{{estilosValidacionesDias}}" [label]="day.name" name="group" [ariaChecked]="true" [value]="day" [(ngModel)]="day.checked"></p-checkbox>
                </div>
            }
        </div>
    </div>
    </div>
        <div style="margin-top: 30px; display: flex;gap: 10px;" >

            <app-confirm tipo="Editar" icono="save" mensaje="¿Deseas editar esta franja horaria?" color="success" (confirmacion)="editar($event)"></app-confirm>
            <app-confirm tipo="Borrar" icono="pi pi-trash" mensaje="¿Deseas eliminar esta franja horaria?" color="danger"
            (confirmacion)="eliminar($event)"></app-confirm>
        </div>
  </p-dialog>
</div>
