<p-toast></p-toast>
<app-cabecera></app-cabecera>
<div style="margin-top: 40px;" class="card">
    <p-table
        [value]="workParametersList"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' ,'max-width':'80rem','margin':'auto'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} parametros"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
           Parametros
           
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr class="header-glass">
              
                <th style="width:20%">Volumen</th>
                <th style="width:10%">Hora Inicio</th>
                <th style="width:10%">Hora fin</th>
                <th style="width:40%">Dias de la semana</th>
                <th><app-time-zone-list  ></app-time-zone-list></th>
                <th style="width:10%"><app-new-work-pameter (sendMessage)="this.showMessage($event)" (updateEvent)="getUpdate()"></app-new-work-pameter></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parameter>
            <tr class="">
                <td>{{ parameter.expectedVolume}}</td>
                <td>{{ parameter.timeZone.start}}</td>
                <td>{{ parameter.timeZone.end}}</td>
                <td>{{getDays(parameter.timeZone.days)}}</td>
                <td><app-directives-list (sendMessage)="this.showMessage($event)" [idParameter]="parameter.id"></app-directives-list></td>
                <td><app-edit-work-pameter (sendMessage)="this.showMessage($event)" (updateEvent)="getUpdate()" [idParameter]="parameter.id"></app-edit-work-pameter></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
</div>
