<app-cabecera ></app-cabecera>
<app-list-work-day-rates #ratesModal [userList]="userListWithAssignments" (cerrarModal)="modalListRatesVisible=false" (cerrarModal)="this.updateMonthData(this.lastDate)" [visible]="modalListRatesVisible"></app-list-work-day-rates>
<app-list-expected-volume #volumeModal [withButton]="false" textHeader="Volumen Obtenido" [tipo]="1" [visible]="modalListVolumeVisible" (cerrarModal)="modalListVolumeVisible=false" (cerrarModal)="this.updateMonthData(this.lastDate)"  ></app-list-expected-volume>
<div class="card">
  <div class="" style="display: flex; justify-content: center; align-items: center;margin-top: 50px;">
    <p-calendar (onMonthChange)="monthChange($event)" 
    (onSelect)="checkDay($event,ratesModal,volumeModal)"  id="calendar" class="max-w-full"
      [showWeek]="false" 
      [(ngModel)]="multipleDates" [selectionMode]="selectedButton == 2 ? 'multiple' : 'single'" 
      [inline]="true" [showWeek]="false">
      <ng-template pTemplate="header">

        <div style="display: flex; justify-content: center; gap: 20px;">

          <button pripple="" class="p-ripple p-element p-button p-component" type="button"
          [ngClass]="{'buttonSelected': selectedButton == 1, 'regularButton': selectedButton != 1}"
          (click)="changeButtonSelected(1)">
          <span class="p-button-label">Días de trabajo</span>
        </button>
        
        <button pripple="" class="p-ripple p-element p-button p-component" type="button"
          [ngClass]="{'buttonSelected': selectedButton == 2, 'regularButton': selectedButton != 2}"
          (click)="changeButtonSelected(2)">
          <span class="p-button-label">Publicaciones</span>
        </button>
        
        <button pripple="" class="p-ripple p-element p-button p-component" type="button"
        [ngClass]="{'buttonSelected': selectedButton == 3, 'regularButton': selectedButton != 3}"
        (click)="changeButtonSelected(3)">
        <span class="p-button-label">Rendimiento</span>
      </button>
      <button pripple="" class="p-ripple p-element p-button p-component" type="button"
      [ngClass]="{'buttonSelected': selectedButton == 4, 'regularButton': selectedButton != 4}"
      (click)="changeButtonSelected(4)">
      <span class="p-button-label">Volumen</span>
    </button>
    </div>
      

      </ng-template>
      
      <ng-template pTemplate="date" let-date>
           @if(this.selectedButton==1){
             @if( date.month==(this.month-1)){
               @if(this.createdDays.includes(date.day)){

                 
                 <span  class="bg-personal-green">
                   {{date.day}}
                  </span>
                }@else {
                <span  class="regular">
                  {{date.day}}
                </span>
              }
          }@else {
            <span class="bg-personal-disabled" [ngStyle]="{textDecoration: 'inherit'}">
              {{date.day}}
            </span>
          }
          }
            @if(this.selectedButton==2){
              @if( date.month==(this.month-1)){
                @if(this.createdDays.includes(date.day)){

                  @if(this.publishedDays.includes(date.day)){

                    <span  class="bg-personal-green personal-pointer-none">
                      {{date.day}}
                    </span>
                  }@else {
                    <span  class="bg-personal-orange">
                      {{date.day}}
                    </span>
                  }
                  
                }@else {
                  <span  class="regular">
                    {{date.day}}
                  </span>
                }
            }@else {
              <span class="bg-personal-disabled" [ngStyle]="{textDecoration: 'inherit'}">
                {{date.day}}
              </span>
            }
            }
            @if(this.selectedButton==3){
              @if( date.month==(this.month-1)){
                @if(this.createdDays.includes(date.day) && this.daysBeforeToday.includes(date.day)){

                  @if(this.daysAllRatesInserted.includes(date.day)){
                    @if(this.daysHighRate.includes(date.day)){

                      <span  class="bg-personal-green">
                        {{date.day}}
                      </span>
                    }@else {
                      <span  class="bg-personal-red">
                        {{date.day}}
                      </span>
                    }
                  }@else {
                    <span  class="bg-personal-orange">
                      {{date.day}}
                    </span>
                  }
                  
                }@else {
                  <span class="bg-personal-disabled" [ngStyle]="{textDecoration: 'inherit'}">
                    {{date.day}}
                  </span>
                }
            }@else {
              <span class="bg-personal-disabled" [ngStyle]="{textDecoration: 'inherit'}">
                {{date.day}}
              </span>
            }
            }
            @if(this.selectedButton==4){
              @if( date.month==(this.month-1)){
                @if(this.createdDays.includes(date.day) && this.daysBeforeToday.includes(date.day)){

                  @if(this.daysAllVolumeInserted.includes(date.day)){
                    @if(this.daysCumplimentVolume.includes(date.day)){

                      <span  class="bg-personal-green">
                        {{date.day}}
                      </span>
                    }@else {
                      <span  class="bg-personal-red">
                        {{date.day}}
                      </span>
                    }
                  }@else {
                    <span  class="bg-personal-orange">
                      {{date.day}}
                    </span>
                  }
                  
                }@else {
                  <span class="bg-personal-disabled" [ngStyle]="{textDecoration: 'inherit'}">
                    {{date.day}}
                  </span>
                }
            }@else {
              <span class="bg-personal-disabled" [ngStyle]="{textDecoration: 'inherit'}">
                {{date.day}}
              </span>
            }
            }

          </ng-template>
          <ng-template pTemplate="footer">

            @if(this.selectedButton==2){
              <div style="margin: 0 auto; text-align: center;">
                <p-button (onClick)="checkMultipleSelectedDays(confirmPublish)" label="Publicar"></p-button>
              </div>
            }
          
    
          </ng-template>
    </p-calendar>
  </div>
</div>

<p-dialog header="No se encontro el registro" (onHide)="cancelar()" [(visible)]="visible" [modal]="true" [draggable]="false"
  [resizable]="false">
  No se ha encontrado ningún registro para el dia seleccionado <br><br>¿Deseas crear un nuevo registro?

  <div style="margin-top: 40px; display: flex;gap: 10px;">
    <p-button severity="warning" (onClick)="cancelar()" label="Cancelar"></p-button>
    <p-button severity="success" label="Crear" (onClick)="crear()"></p-button>

  </div>


  
</p-dialog>
<p-dialog header="No se ha seleccionado ningun dia" (onHide)="visibleAlertPublishFalse=false" [(visible)]="visibleAlertPublishFalse" [modal]="true" [draggable]="false"
  [resizable]="false">
  Debe seleccionar al menos un dia de trabajo para publicar <br><br>

  <div style="margin-top: 40px; display: flex;gap: 10px;">
    <p-button severity="warning" (onClick)="visibleAlertPublishFalse=false" label="Aceptar"></p-button>
  </div>


  
</p-dialog>
<app-confirm #confirmPublish [mode]="2" tipo="Publicar" (confirmacion)="publishDaysSelected($event)" icono="calendar" mensaje="¿Deseas publicar las asignaciones de estos dias de trabajo?" color="success"></app-confirm>
