

<app-new-directive [visible]="newModalVisible.value" [idParameter]="idParameter" [tipo]="1" (cerrarModal)="changeNewModalVisibility()"></app-new-directive>
<app-edit-directive [tipo]="1" (cerrarModal)="changeEditModalVisibility()" #editar [idDirective]="editDirectiveId"></app-edit-directive>
  <div class="card">
    <div class="flex justify-content-center">
        <p-button type="button" badge="{{directivesList.length}}" (click)="showDialog()"  icon="pi pi-external-link" label="Directivas"></p-button>
    </div>
    <p-dialog header="Header" [resizable]="false" [baseZIndex]="0" [modal]="true" [maximizable]="true" appendTo="body" [(visible)]="visible" [style]="{width: '70vw'}" >
        <p-table [value]="directivesList" [scrollable]="true" scrollHeight="flex" [tableStyle]="{'min-width': '70rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Posicion</th>
                    <th>Area</th>
                    <th>Rendimiento Esperado</th>
                    <th><p-button label="Añadir" (onClick)="changeNewModalVisibility()"></p-button></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-directive>
                <tr>
                    <td [width]="25">{{directive.position.description}}</td>
                    <td [width]="25">Añadir area</td>
                    <td [width]="25"> {{directive.expectedValuation}}</td>
                    <td [width]="25"><p-button label="Editar"  severity="warning" (onClick)="editar.showDialog(directive.id)"></p-button></td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template pTemplate="footer">
            <button type="button" pButton pRipple icon="pi pi-times" (click)="visible=false" label="Cerrar" class="p-button-text"></button>
        </ng-template>
    </p-dialog>
</div>