
<div class="card">
        @if (authService.hasRol(['owner','staff','manager'])) {

            <p-menubar [model]="items">
                <ng-template pTemplate="end">
                <app-profile-icon></app-profile-icon>
                </ng-template>
            </p-menubar>
            }@else{
                <p-menubar [model]="adminItems">
           
                <ng-template pTemplate="end">
                    <app-profile-icon></app-profile-icon>
                </ng-template>
            </p-menubar>
        }
        
   
  

</div>