<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				
					<label for="chk" aria-hidden="true">Inicio de Sesión</label>
                    <label for="" style="font-size: 20px;">Email</label>
					<input type="email" name="email" placeholder="Email" required="">
                    <label for="" style="font-size: 20px;">Contraseña</label>
					<input type="password" name="pswd" placeholder="Contraseña" required="">
					<button (click)="login()">Inciar Sesión</button>
				
			</div>

		
	</div>
</body>