<app-cabecera></app-cabecera>
<p-toast></p-toast>
<div style="margin-top: 40px;" class="card">
    <p-table
        [value]="requestList"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' ,'max-width':'80rem','margin':'auto'}"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} vacantes"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
           Peticiones
  
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr class="header-glass">
              
                <th >Fecha</th>
                <th>Solicitado</th>
                <th>Estado</th>
                @if(this.adminAccess){

                    <th colspan="2">Solicitante</th>
                }@else {
                    <th><app-new-staff-request [requestList]="requestList" (sendMessage)="showMessage($event)"></app-new-staff-request></th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-request>
            <tr class="">
                <td>{{request.date}}</td>
                <td>{{translateType(request.type)}}</td>
                <td>

                    @switch (request.status) {
                        @case (0) {
                            <p-button [disabled]="true" severity="secondary" [label]="translateStatus( request.status)"></p-button>
                        }
                        @case (1) {
                            <p-button [disabled]="true" severity="success" [label]="translateStatus( request.status)"></p-button>
                        }
                        @case (-1) {
                            <p-button [disabled]="true" severity="danger" [label]="translateStatus( request.status)"></p-button>
                        }
                    }
                </td>
               
                @if(this.adminAccess){

                    <td>{{request.user.firstName+' '+request.user.lastName}}</td>
                    
                    <td><p-button (onClick)="showDialog(request)" label="Ver Solicitud"></p-button></td>
                }@else {
                    @if(request.status==0){

                        <td>
                            <app-confirm tipo="Eliminar" icono="pi pi-trash" mensaje="¿Deseas eliminar esta solicitud ?" color="danger"
                            (confirmacion)="eliminar($event,request.id)"></app-confirm>   
                        </td>
                    }@else {
                        <td></td>
                    }
                }
                

            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
</div>

@if(requestSelected){

    <p-dialog  header="Editar  Solicitud" [(visible)]="visible" [modal]="true" 
    [draggable]="false" (onHide)="cerrar();" [resizable]="false">


<div style="margin-top: 10px;" class="card flex justify-content-center" class="custom-dialog">
    <div class="flex flex-row gap-4">

        <div  class="flex flex-column">
            <label for="username1">Fecha </label>
            <input [disabled]="true" pInputText value="{{requestSelected.date}}" class="w-small"/>
        </div>
        <div  class="flex flex-column">
            <label for="username1">Solcitante </label>
            <input [disabled]="true" pInputText value="{{requestSelected.user!.firstName+' '+requestSelected.user!.lastName}}" class="w-small"/>
        </div>

        <div  class="flex flex-column">
            <label for="username1">Solicitado </label>
            <input [disabled]="true" pInputText value="{{translateType(requestSelected.type)}}" class="w-small"/>
        </div>

        <div  class="flex flex-column">
            <label for="username1">Estado </label>
            <input [disabled]="true" pInputText value="{{translateStatus( requestSelected.status)}}" class="w-small"/>
        </div>

    
        
        </div>
    </div>
    <div style="margin-top: 40px; display: flex;gap: 10px;" >

        <!-- <app-confirm tipo="Editar" icono="save" mensaje="¿Deseas editar este parametro?" color="success" (confirmacion)="editar($event)"></app-confirm>
        <app-confirm tipo="Borrar" icono="pi pi-trash" mensaje="¿Deseas eliminar este parametro ?" color="danger"
        (confirmacion)="eliminar($event)"></app-confirm> -->
           @if(requestSelected.status==0){

               <app-confirm tipo="Aceptar" icono="pi pi-check" mensaje="¿Deseas aceptar esta solicitud ?" color="success"
               (confirmacion)="actualizar($event,true)"></app-confirm>
               <app-confirm tipo="Denegar" icono="pi pi-times" mensaje="¿Deseas denegar esta solicitud ?" color="danger"
               (confirmacion)="actualizar($event,false)"></app-confirm>   
            } 
    </div>
</p-dialog>
}