<p-toast></p-toast>

<div style=""  class=" card flex justify-content-center">
  @if(tipo==0){
  <p-button  label="Añadir" severity="success" [raised]="true" [outlined]="true" (click)="showDialog()" icon="pi pi-plus" label="Nueva"></p-button>
  }
  
  <p-dialog  [header]="this.typeElement==1 ? 'Añadir posicion': 'Añadir Area'" [(visible)]="visible"  [modal]="true" 
    [draggable]="false" (onHide)="cerrar();" [resizable]="false">


    <div style="margin-top: 10px;" class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">

            <div  class="flex flex-column">
                <label for="username1">Descripcion </label>
                <input type="text" [class]="styleValidValue"  pInputText [(ngModel)]="value" class="w-small"/>
                <br>
                <small style="margin-top: 20px;" id="username-help1">Introduce una descripción </small>
            </div>
        
            
            </div>
        </div>
        <div style="margin-top: 20px;" >
            @if(this.typeElement==1){
                <app-confirm tipo="Crear" icono="plus" mensaje="¿Deseas añadir esta nueva posición?" color="success" (confirmacion)="crearPosicion($event)"></app-confirm>

            }@else {
                <app-confirm tipo="Crear" icono="plus" mensaje="¿Deseas añadir este nuevo area?" color="success" (confirmacion)="crearArea($event)"></app-confirm>
            }
        </div>
  </p-dialog>
</div>
