
<div style=""  class=" card flex justify-content-center">
  @if(tipo==0){
  <p-button  [label]="buttonText" [severity]="buttonColor" [raised]="true" [outlined]="true" (click)="showDialog()" icon="pi pi-plus" label="Nueva"></p-button>
  }
  
  <p-dialog  header="Nueva Asignación" [(visible)]="visible"  [modal]="true" 
    [draggable]="false" (onHide)="cerrar();" [resizable]="false">


    <div style="margin-top: 10px;" class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">
         
            @if(this.user){

                <div  class="flex flex-column">
                    <label for="username1">Empleado </label>
                    <input type="text" disabled="true" pInputText [(ngModel)]="user.firstName+' '+user.lastName" class="w-small"/>
                    <br>
                </div>
            }
            @if(this.date){

                <div  class="flex flex-column">
                    <label for="username1">Fecha </label>
                    <input type="text" disabled="true" pInputText [(ngModel)]="date" class="w-small"/>
                    <br>
                </div>
            }
            <div class="flex flex-column subcategoria-seleccionada">
                <label for="username2">Tipo</label>
                <p-dropdown  class="{{styleValidPosition}}" [options]="types" [(ngModel)]="typeSelected" optionLabel="text" [showClear]="true" placeholder="Seleccionar"></p-dropdown>
                <small id="username-help2">Indíca el tipo de asignación</small>

            </div>

            @if(typeSelected){
                @if(typeSelected.value==0){

                    <div style="margin-top: 10px;" class="card flex justify-content-center" class="custom-dialog">
                        
                    
                    <label for="username1">Hora inicio</label>
                        <div style="display: flex;gap: 10px;margin-top: 20px">
                            
                            <p-dropdown [class]="estiloValidacionHoras"  [options]="horas" [(ngModel)]="horaInicio.hora" optionLabel="valor" [showClear]="true" placeholder="Hora"></p-dropdown>
                            
                            <p-dropdown  [class]="estiloValidacionMinutos" [options]="minutos" [(ngModel)]="horaInicio.minuto" optionLabel="valor" [showClear]="true" placeholder="Minuto "></p-dropdown>
                        </div>
                        
                
                </div>
                <div style="margin-top: 20px;">
            
                    <label for="username1">Hora finalización</label>
                    <div style="display: flex;gap: 10px;margin-top: 20px">
                        
                        <p-dropdown class="{{estiloValidacionHoras}}"  [options]="horas" [(ngModel)]="horaFin.hora" optionLabel="valor" [showClear]="true" placeholder="Hora"></p-dropdown>
                        
                        <p-dropdown class="{{estiloValidacionMinutos}}"  [options]="minutos" [(ngModel)]="horaFin.minuto" optionLabel="valor" [showClear]="true" placeholder="Minuto "></p-dropdown>
                    </div>
                </div>
          


                <div class="flex flex-column subcategoria-seleccionada">
                    <label for="username2">Posicion</label>
                    <p-dropdown  class="{{styleValidPosition}}" [options]="positionsList" [(ngModel)]="newAssignment.position" optionLabel="description" [showClear]="true" placeholder="Seleccionar"></p-dropdown>
                    <small id="username-help2">Indíca la posicion de trabajo</small>
                    
                </div>
                <div class="flex flex-column subcategoria-seleccionada">
                    <label for="username2">Area</label>
                    <p-dropdown  class="{{estilosValidacionesAreas}}" [options]="areasList" [(ngModel)]="newAssignment.area" optionLabel="description" [showClear]="true" placeholder="Seleccionar"></p-dropdown>
                    <small id="username-help2">Indíca el area de trabajo</small>
                    
                </div>
            }
        }
                
            </div>
        </div>
        <div  class="flex flex-column " style="margin-top: 150px;" >

            <app-confirm tipo="Crear" icono="plus" mensaje="¿Deseas añadir esta nueva asignación?" color="success" (confirmacion)="crear($event)"></app-confirm>
        </div>
  </p-dialog>
</div>
